<div align="right">
  <a href="/"><input type="submit" value="Home"></a>
</div>

<div align="right">
  <a href="/logout"><input type="submit" value="Logout"></a>
</div>

<div>
  <center>
    <h1> Welcome, <%= @user.username %> </h1>
    <p>Your User ID: <%= @user.id %><br>
    <h2>Your Logbooks<br>
    <% counter = 0 %>
    <% @user.logbooks.each do |logbook| %>
      <h3><%= counter += 1 %></h3>
      <p>Name: <%= logbook.name %>
      <p>Max Entries: <%= logbook.max_entries %><br>
      <a href="/logbooks/<%=logbook.id%>/edit"><input type="submit" value="Edit Logbook"></a>
      <a href="/logbooks/<%= logbook.id%>"><input type="submit" value="View Logbook"></a>
    <% end %><br><br>
    <a href="/logbooks/new"><input type="submit" value="Create New Logbook"></a>
  </center>
<div>