<div align="right">
  <a href="/"><input type="submit" value="Home"></a>
</div>

<div align="right">
  <a href="/logout"><input type="submit" value="Logout"></a>
</div>

<div>
  <center>
    Name: <%= @logbook.name %><br />
    Max Entries: <%= @logbook.max_entries %> <br />

    <h2>Log Entries</h2>
    <ul>
    <% @logbook.log_entries.each do |entry| %>
      <li><a href="/log_entries/<%=entry.id%>"><%= entry.name %></a></li>
    <% end%>
    </ul>
    <a href="/logbooks/<%=@logbook.id%>/edit"><input type="submit" value="Edit Logbook"></a>
    <a href="/log_entries/new"><input type="submit" value="Create Log Entry"></a>
    <br />
    <br />
  </center>
</div>