<div align="right">
  <a href="/"><input type="submit" value="Home"></a>
</div>

<div align="right">
  <a href="/logout"><input type="submit" value="Logout"></a>
</div>


<center>
  <h1>All Log Entries</h1>

  <a href="/log_entries/new"><input type="submit" value="Create New Log Entry"></a>

  <div>
    <% counter = 0 %>
    <% @log_entries.each do |log_entry| %><br>
      <h4><%= counter += 1 %></h4>
      Date: <%= log_entry.date %><br>
      Pilot In Command: <%= log_entry.pilot_in_command %><br>
      Aircraft Type: <%= log_entry.aircraft_type %><br>
      Aircraft Rego: <%= log_entry.aircraft_rego %><br>
      Origin: <%= log_entry.origin %><br>
      Destination: <%= log_entry.destination %><br>
      Number of Landings: <%= log_entry.landings %><br>
      Remarks: <%= log_entry.remarks %><br>
      <input type="submit" value="Update">
      <a href="/log_entries/<%=log_entry.id%>/edit"><input type="submit" value="Edit"></a>
      <a href="/log_entries/<%= log_entry.id%>"><input type="submit" value="View"></a>
      <br>
    <% end %>
  </div>
</center>