#FOR DEBUGGING, REMOVE THIS VIEW BEFORE FINALIZING

<div align="right">
  <a href="/"><input type="submit" value="Home"></a>
</div>

<div align="right">
  <a href="/logout"><input type="submit" value="Logout"></a>
</div>

<center>
  <h1>All Logs</h1>

  <a href="/logs/new"><input type="submit" value="Create New Log"></a>

  <div>
    <% counter = 0 %>
    <% @logs.each do |log| %><br>
      <h4><%= counter += 1 %></h4>
      Date: <%= log.date %><br>
      Pilot in Command: <%= log.pilot_in_command %><br>
      Aircraft Type: <%= log.aircraft_type %><br>
      Aircraft Rego: <%= log.aircraft_rego %><br>
      Origin: <%= log.origin %><br>
      Destination: <%= log.destination %><br>
      Landings: <%= log.landings %><br>
      Remarks: <%= log.remarks %><br>

      <a href="/logs/<%=log.id%>/edit"><input type="submit" value="Edit"></a>
      <a href="/logs/<%= log.id%>"><input type="submit" value="View"></a>
      <br>
    <% end %>
  </div>
</center>