<div align="right">
  <a href="/"><input type="submit" value="Home"></a>
</div>

<div align="right">
  <a href="/logout"><input type="submit" value="Logout"></a>
</div>

<div>
  <center>
    <h3>Successfully created log entry</h3>
    Date: <%= @log.date %><br />
    Pilot in Command: <%= @log.pilot_in_command %><br />
    Aircraft Type: <%= @log.aircraft_type %><br />
    Aircraft Rego: <%= @log.aircraft_rego %><br />
    Origin: <%= @log.origin %><br />
    Destination: <%= @log.destination %><br />
    Landings: <%= @log.landings %><br />
    Remarks: <%= @log.remarks %><br />

    </ul>
    <a href="/logs/<%=@log.id%>/edit"><input type="submit" value="Edit Log Entry"></a>
    <a href="/users/show/<%=@log.user_id%"><input type="submit" value="Back to Profile"></a>
    <br />
    <br />
  </center>
</div>